USE [master]
GO
/****** Object:  Database [HMS_DB]    Script Date: 6/23/2025 6:12:50 PM ******/
CREATE DATABASE [HMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HMS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HMS_DB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HMS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HMS_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HMS_DB]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 6/23/2025 6:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [varchar](10) NULL,
	[AppointmentDate] [date] NULL,
	[SerialNo] [int] NULL,
	[PatientName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cabins]    Script Date: 6/23/2025 6:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabins](
	[CabinID] [varchar](10) NOT NULL,
	[CabinNumber] [varchar](20) NULL,
	[CabinName] [varchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
	[IsAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CabinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/23/2025 6:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DeptID] [varchar](10) NOT NULL,
	[DeptName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 6/23/2025 6:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [varchar](10) NOT NULL,
	[DoctorName] [varchar](100) NULL,
	[Specialization] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginUsers]    Script Date: 6/23/2025 6:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginUsers](
	[UserID] [nvarchar](10) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LoginUsers] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientBills]    Script Date: 6/23/2025 6:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientBills](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [varchar](10) NULL,
	[Subtotal] [decimal](10, 2) NULL,
	[VAT] [decimal](10, 2) NULL,
	[Discount] [decimal](10, 2) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[CabinPrice] [decimal](10, 2) NULL,
	[RegisterDate] [date] NULL,
	[DischargeDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 6/23/2025 6:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [varchar](10) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Gender] [varchar](10) NULL,
	[BloodGroup] [varchar](5) NULL,
	[Age] [int] NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](200) NULL,
	[DoctorID] [varchar](10) NULL,
	[CabinID] [varchar](10) NULL,
	[IsAdmitted] [bit] NULL,
	[RegisterDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientTests]    Script Date: 6/23/2025 6:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientTests](
	[PatientTestID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [varchar](10) NULL,
	[TestID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientTestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receptionists]    Script Date: 6/23/2025 6:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receptionists](
	[ReceptionistID] [varchar](10) NOT NULL,
	[UserID] [nvarchar](10) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[DOB] [date] NULL,
	[Gender] [varchar](10) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](200) NULL,
	[BloodGroup] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceptionistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 6/23/2025 6:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestID] [varchar](10) NOT NULL,
	[TestName] [varchar](30) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [AppointmentDate], [SerialNo], [PatientName]) VALUES (1, N'DR-101', CAST(N'2025-06-22' AS Date), 1, N'Mehedi')
INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [AppointmentDate], [SerialNo], [PatientName]) VALUES (2, N'DR-101', CAST(N'2025-06-22' AS Date), 2, N'Samaa')
INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [AppointmentDate], [SerialNo], [PatientName]) VALUES (3, N'DR-101', CAST(N'2025-06-23' AS Date), 1, N'Mehedi')
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
INSERT [dbo].[Cabins] ([CabinID], [CabinNumber], [CabinName], [Price], [IsAvailable]) VALUES (N'C-101', N'501', N'VIP', CAST(8000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Cabins] ([CabinID], [CabinNumber], [CabinName], [Price], [IsAvailable]) VALUES (N'C-102', N'602', N'VIP-2', CAST(7200.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Cabins] ([CabinID], [CabinNumber], [CabinName], [Price], [IsAvailable]) VALUES (N'C-103', N'610', N'WARD', CAST(200.00 AS Decimal(10, 2)), 1)
GO
INSERT [dbo].[Departments] ([DeptID], [DeptName]) VALUES (N'D-101', N'Cardiology')
INSERT [dbo].[Departments] ([DeptID], [DeptName]) VALUES (N'D-102', N'Nephologhy')
INSERT [dbo].[Departments] ([DeptID], [DeptName]) VALUES (N'D-103', N'Surgery')
GO
INSERT [dbo].[Doctors] ([DoctorID], [DoctorName], [Specialization]) VALUES (N'DR-101', N'Hasan Mahamud', N'MBBS,Nephrologist')
INSERT [dbo].[Doctors] ([DoctorID], [DoctorName], [Specialization]) VALUES (N'DR-102', N'Dr. Shofiqul Islam', N'MMBS,Medcine')
INSERT [dbo].[Doctors] ([DoctorID], [DoctorName], [Specialization]) VALUES (N'DR-103', N'Dr. Liakot Ali', N'Medicine')
GO
INSERT [dbo].[LoginUsers] ([UserID], [Username], [Password], [Role]) VALUES (N'A-001', N'Mehedi', N'm123', N'Admin')
INSERT [dbo].[LoginUsers] ([UserID], [Username], [Password], [Role]) VALUES (N'A-002', N'Fahim', N'f123', N'admin')
INSERT [dbo].[LoginUsers] ([UserID], [Username], [Password], [Role]) VALUES (N'R-003', N'Samaa', N's123', N'receptionist')
GO
SET IDENTITY_INSERT [dbo].[PatientBills] ON 

INSERT [dbo].[PatientBills] ([BillID], [PatientID], [Subtotal], [VAT], [Discount], [TotalAmount], [CabinPrice], [RegisterDate], [DischargeDate]) VALUES (1, N'P-012', CAST(3200.00 AS Decimal(10, 2)), CAST(160.00 AS Decimal(10, 2)), CAST(800.00 AS Decimal(10, 2)), CAST(8560.00 AS Decimal(10, 2)), CAST(6000.00 AS Decimal(10, 2)), CAST(N'2025-06-21' AS Date), CAST(N'2025-06-21' AS Date))
SET IDENTITY_INSERT [dbo].[PatientBills] OFF
GO
INSERT [dbo].[Patients] ([PatientID], [Name], [Gender], [BloodGroup], [Age], [Phone], [Address], [DoctorID], [CabinID], [IsAdmitted], [RegisterDate]) VALUES (N'P-012', N'Niloy', N'Male', N'A-', 24, N'0147852963', N'Gazipur', N'DR-102', N'C-107', 0, CAST(N'2025-06-21' AS Date))
GO
SET IDENTITY_INSERT [dbo].[PatientTests] ON 

INSERT [dbo].[PatientTests] ([PatientTestID], [PatientID], [TestID]) VALUES (33, N'P-012', N'T-102')
INSERT [dbo].[PatientTests] ([PatientTestID], [PatientID], [TestID]) VALUES (34, N'P-012', N'T-103')
INSERT [dbo].[PatientTests] ([PatientTestID], [PatientID], [TestID]) VALUES (35, N'P-012', N'T-105')
SET IDENTITY_INSERT [dbo].[PatientTests] OFF
GO
INSERT [dbo].[Receptionists] ([ReceptionistID], [UserID], [Name], [DOB], [Gender], [Phone], [Address], [BloodGroup]) VALUES (N'RC-R-003', N'R-003', N'Samaa', CAST(N'2002-05-24' AS Date), N'Female', N'0179854621', N'uttora4,dhaka', N'O+	')
GO
INSERT [dbo].[Tests] ([TestID], [TestName], [Price]) VALUES (N'T-101', N'CBC', CAST(400.00 AS Decimal(10, 2)))
INSERT [dbo].[Tests] ([TestID], [TestName], [Price]) VALUES (N'T-102', N'CCR', CAST(1100.00 AS Decimal(10, 2)))
INSERT [dbo].[Tests] ([TestID], [TestName], [Price]) VALUES (N'T-103', N'Creatine', CAST(400.00 AS Decimal(10, 2)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uk_username]    Script Date: 6/23/2025 6:12:51 PM ******/
ALTER TABLE [dbo].[LoginUsers] ADD  CONSTRAINT [uk_username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientBills] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT ((0)) FOR [IsAdmitted]
GO
ALTER TABLE [dbo].[PatientBills]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD FOREIGN KEY([CabinID])
REFERENCES [dbo].[Cabins] ([CabinID])
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[PatientTests]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[PatientTests]  WITH CHECK ADD FOREIGN KEY([TestID])
REFERENCES [dbo].[Tests] ([TestID])
GO
ALTER TABLE [dbo].[Receptionists]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[LoginUsers] ([UserID])
GO
USE [master]
GO
